body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;

}

.container{
    flex:1;
}


h1{
    color: darkblue;
}
.navbar{
    height:5rem;
    background-color: white;
    margin-top: 50px
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

.f-info-link a {
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover {
    text-decoration: underline;
    color: #222222;
}


.f-info-socials i{
    font-size: 2rem;
    margin-right:1rem;
}

.f-info-link .f-info-socials .f-info-brand{
    width:100%;
    display:flex;
    align-items:space-evenly;
    justify-content:center;
   
}

.f-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    background-color: #ebebeb;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}


/* cards */
.listing-card{
    margin-bottom: 3rem;
    border:none !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}

.card-body p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #222222;
}

.card-text p{
    font-weight: 400 !important;
}

.style-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
    
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img {
    height: 40vh;
}

.btns{
    display: flex;;
}

.card-img{
    padding-left:0%;
    padding-right: 0%;
}